
<div class="footer-content-wrap">
<div class="row">
<div class="large-3 columns footer-pad su_bg">
<!-- <img src="{{ site.baseurl }}../assets/images/su_logo.png"/> -->
</div>
<div class="large-2 columns footer-pad">
<ul>
<li><a href="{{ site.baseurl }}../Contact.html">Contact Greystone</a></li>
<li><a href="{{ site.baseurl }}../Visit.html">Visit Campus</a></li>
<li><a href="{{ site.baseurl }}../Get_Directions.html">Get Directions</a></li>
</ul>
</div>
<div class="large-3 columns footer-pad">
<ul>
<li><a href="{{ site.baseurl }}../Donate.html">Donate</a></li>
<li><a href="{{ site.baseurl }}../faq.html">FAQs/Comments</a></li>
</ul>
</div>
<div class="large-4 columns contact">
<ul class="footer-pad">
<li class="bold">Greystone at the University of Ozarks</li>
<li>415 N. College Avenue</li>
<li>Clarksville, AR 72830</li>
<li>(830) 896-6530</li>
</ul>
</div>

</div>
</div>

<div class="social-media-container">
<div class="row">
<div class="large-3 columns">
<p>Connect with Greystone:</p>
</div>

<div class="large-9 columns social-buttons">
<ul>
<li><a href="https://www.facebook.com/GreystonePreparatorySchool"><img src="{{ site.baseurl }}../assets/images/fb.png" /></a></li>
<li><a href="https://twitter.com/GreystoneSU"><img src="{{ site.baseurl }}../assets/images/twitter.png" /></a></li>
<li><a href="https://instagram.com/greystoneuofo_/"><img src="{{ site.baseurl }}../assets/images/linked_in.png" /></a></li>
<li><a href="https://www.youtube.com/user/81greyman"><img src="{{ site.baseurl }}../assets/images/youtube.png" /></a></li>
</ul>
</div>
</div>
</div>

<div class="footer">
<div class="row">
<div class="large-1 columns"></div>
<div class="large-8 large-offset-3 columns">Greystone Preparatory School &copy; 2020</div>
</div>
</div>
</div>




<script src="{{ site.baseurl }}../assets/js/jquery.js"></script>
<script src="{{ site.baseurl }}../assets/js/foundation_min_js.js"></script>
<script src="{{ site.baseurl }}../assets/js/orbit.js"></script>
<script src="{{ site.baseurl }}../assets/js/slick_min_js.js"></script>
<script src="{{ site.baseurl }}../assets/js/jquery_magic_js.js"></script>
<script src="{{ site.baseurl }}../assets/js/marquee_js.js"></script>

<script>
$(document).foundation();
</script>


<script type="text/javascript">
$(document).ready(function(){
$(".magicwall").magicWall({
  maxItemWidth: 300,
  maxItemHeight: 160,
  delay: 650,
  animations: "*",
  pauseOnHover: false
});
});
</script>

<script type="text/javascript">
$(document).ready(function(){
$('.responsive').slick({
dots: true,
infinite: false,
speed: 300,
slidesToShow: 4,
slidesToScroll: 4,
responsive: [
{
breakpoint: 1024,
settings: {
  slidesToShow: 3,
  slidesToScroll: 3,
  infinite: true,
  dots: true
}
},
{
breakpoint: 600,
settings: {
  slidesToShow: 2,
  slidesToScroll: 2
}
},
{
breakpoint: 480,
settings: {
  slidesToShow: 1,
  slidesToScroll: 1
}
}
// You can unslick at a given breakpoint now by adding:
// settings: "unslick"
// instead of a settings object
]
});
});
</script>

<script>
$('.marquee').marquee();
</script>

<script>
jQuery(window).load(function(){
jQuery('#overlay').fadeOut();
});
</script>


<script type="text/javascript">
var assets_dir = "r" ;
</script>

<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/948439542/?value=0&amp;guid=ON&amp;script=0"/>
</body>
</html>
