<div class="top-nav">
 <div class="row">
  <div class="large-12 columns hide-for-small">
   <div class="row">
       <div class="large-12 top-right-nav">
          <ul>
             <li><a href="{{ site.baseurl }}../Prospective_Students">Prospective Students</a></li>
             <li class="top_logo"><img style="border:none;"src="{{ site.baseurl }}../assets/images/greystone_icon.png"/></li>
             <li><a href="{{ site.baseurl }}../Parents">Parents</a></li>
             <li class="top_logo"><img style="border:none;"src="{{ site.baseurl }}../assets/images/greystone_icon.png"/></li>
             <li><a href="{{ site.baseurl }}../Liaisons">Congressional Liaisons</a></li>
             <li class="top_logo"><img style="border:none;"src="{{ site.baseurl }}../assets/images/greystone_icon.png"/></li>
             <li><a href="{{ site.baseurl }}../Recruiters">Academy Recruiters</a></li>
             <li class="top_logo"><img style="border:none;"src="{{ site.baseurl }}../assets/images/greystone_icon.png"/></li>
             <li><a href="{{ site.baseurl }}../Visit">Visit Greystone</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="video_container">
<div class="row-wrap index-header">
   <div id="bgvid">
  <div class="magicwall">
      <ul class="magicwall-grid">
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img1.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img2.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img03.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img4.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img5.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img6.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img7.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img8.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img9.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img10.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img11.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img12.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img13.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img14.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img15.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img16.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img17.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img18.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img19.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img20.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img21.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img22.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img23.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img24.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img25.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img26.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img27.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img28.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img29.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img30.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img31.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img32.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img33.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img34.jpg"></li>
          <li data-thumb="{{ site.baseurl }}../assets/images/header_img35.jpg"></li>
      </ul><!-- .magicwall-grid -->
  </div><!-- .magicwall -->
   </div>
    <div class="row">
      <div class="large-7 columns">
        <a class="logo_img" style="border:none;" href="{{ site.baseurl }}../"><img src="{{ site.baseurl }}../assets/images/greystone_header_logo.png"></a>
      </div>
      <div class="large-5 columns announcement">
      </div>
    </div>
</div>
</div>
 <div class='row bg-white'>
  <div class="large-12 columns nav">
    <div class="row">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
<!-- Left Nav Section -->
          <ul class="left">
            <li><a href="{{ site.baseurl }}../">Home</a></li>
            <li><a href="{{ site.baseurl }}../Admissions">Admissions</a></li>
            <li><a href="{{ site.baseurl }}../Scholar">Scholar</a></li>
            <li><a href="{{ site.baseurl }}../Athlete">Athlete</a></li>
            <li><a href="{{ site.baseurl }}../Leader">Leader</a></li>
            <li><a class="rotc" href="{{ site.baseurl }}../ROTC"><img src="{{ site.baseurl }}../assets/images/tiny_star.png"/> ROTC <img src="{{ site.baseurl }}../assets/images/tiny_star.png"/></a></li>
            <li><a href="{{ site.baseurl }}../Nomination">Nomination</a></li>
            <li><a href="{{ site.baseurl }}../Appointment">Appointment</a></li>
            <li><a href="{{ site.baseurl }}../About_Us">About Us</a></li>
            <li class="show-for-medium-down"><a href="https://info.schreiner.edu/ICS/Admissions/ApplyNow.jnz?portlet=Apply_for_Admission&screen=Begin%2f%2f29109eaf-001f-43be-804b-80cea8c91b64&screenType=next%27">Apply Now</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Visit">Visit Greystone</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../News">News</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../POD">POD</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Compass">Compass</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Support">Support</a></li>
            <li class="show-for-medium-down"><a target="_blank" href="http://ocs.landsend.com/cd/frontdoor?store_name=Greystone_at_Schreiner_Univers&store_type=3">Merchandise</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Testimonials">Testimonials</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../calendar">Calendar</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Structure">Structure and Oversight</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Motivation">Motivate and Inspire</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../TEAM">TEAM Organization</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Support">Support Mechanism</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Pictures">Photos</a></li>
            <li class="show-for-medium-down"><a href="{{ site.baseurl }}../Videos">Videos</a></li>
            <li class="blank hide-for-medium-down"></li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row hide-for-medium-down">
      <div class="sub-navigation-wrapper hide-for-medium-down">
        <div class="sub-nav hide-for-medium-down">
          <ul class="hide-for-medium-down">
            <li class="hide-for-medium-down"><a href="https://jrm.targetx.com/orgs/00Dj00000028oS8EAI/login">Apply Now</a></li>
            <li class="hide-for-medium-down"><a href="{{ site.baseurl }}../Visit">Visit Greystone</a></li>
            <li class="hide-for-medium-down"><a href="{{ site.baseurl }}../Request">Request Info</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 </div>
